.wrapper {
    margin-top: 2em;
    .intro {
        font-size: 20px;
        font-weight: bold;
    }
    .videowrapper {
        clear: both;
        .videoblock {
            border: 1px solid gray;
        }
    }
    .buttonWrapper{
        .button{
            float:left;
            background-color: #FEA400;
            border: 0.1rem solid #FEA400;
            margin-right: 10px;
        }
    }


    .sourceSelectPanel {
        margin-top: 10px;
        .sourceSelectLabel {
            width: 300px;
        }
        .sourceSelect {
            width: 300px;
            border-color: orange;
        }
    }
    .mark{
        margin-top: 10px;
    }


    .resultWrap {
        border-left: 0.3rem solid #FEA400;
        background-color: #F2F2F2;
        width: 300px;
        .resultData {
            width: 300px;
            margin-left: 20px;
        }
    }
}