.wrapper {
    margin-top: 2em;
    .intro {
        font-size: 32px;
        font-weight: bold;
    }
    .videowrapper {
        .videoblock {
            border: 1px solid gray;
        }
    }
    .buttonWrapper{
        .button{
            background-color: #FEA400;
            border: 0.1rem solid #FEA400;
        }
    }


    .sourceSelectPanel {
        .sourceSelectLabel {
            width: 400px;
        }
        .sourceSelect {
            width: 400px;
        }
    }
    .mark{
        margin-top: 20px;
    }


    .resultWrap {
        border-left: 0.3rem solid #FEA400;
        background-color: #F2F2F2;
        width: 400px;
        .resultData {
            width: 350px;
            margin-left: 20px;
        }
    }
}