.loginWrapper {
    margin-top: 2em;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;

    .loginContainer{
        flex: 0 0 auto;
        .loginHeader {
            font-size: 20px;
            font-weight: bold;
        }
        .loginSubHeader{
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold;
        }
    }

    
}